body {
    background-color: rgb(13, 14, 30);
    text-align: center;
    color: azure;
}

header {
    width: 99%;
    position: absolute;
    top: 0;
}

main {
    position: absolute;
    bottom: 300px;
    right: 500px;
}

footer {
    background-color: #66666630;
    width: 99%;
    position: absolute;
    bottom: 0;
}

a {
    color: aqua;
}

img {
    display: inline;
    width: 950px;
    height: 400px;
}